html {
  box-sizing: border-box;
  --grid-cols: 2;
}

.hidden {
    display: none !important;
    border: none !important;
}

.help{
    background: rgba(10, 10, 10, .9) !important;
}

.panel {
    position: fixed;
    border: 2px dashed #ccc;
    color: #ccc;
    text-align: center;
    width: calc(100% - 32px);
    height: calc(100% - 32px);
    margin: 16px;
    z-index: 99;
    background: none;

    h3 {
        margin-top: 5%;
    }

    p {
        margin-top: calc(50vh - 32px - 5%);
    }
}

#packery-container{
  /* clear fix */
  // content: '';
  // display: block;
  // clear: both;

  .filename {
      display: flex;
      position: absolute;
      justify-content: center;
      align-items: center;
      background: rgba(10, 10, 10, .9);
      height: 100%;
      width: 100%;

      span {
          margin: 10%;
          overflow-wrap: anywhere;
          hyphens: auto;
      }
  }


  .grid-item {
    float: left;
    width: calc(100% / var(--grid-cols));

    img {
      width: 100%;
      height:auto;
      display: block;
    }
    //background: #C09;
    //border: 2px solid hsla(0, 0%, 0%, 0.5);
  }

}


body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #eee;
    background-color: #222;
    margin: 0;
    padding: 0;
    height: 100%;
}

.prog {
    position: fixed;
    top: 20px;
    left: calc(50% - 100px);
    border: solid 1px #666;
    width: 200px;
    text-align: center;
    background-color: #111
}
